.App {
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  margin: 10% auto;
  height: fit-content;
  width: 25rem;
  border-radius: 0.5rem;
  padding: 2rem;
  box-sizing: border-box;
  background-color: white !important;
}

.media {
  margin: 1rem 0;
}
.media-body {
  flex: none;
}
.media-body * {
  text-align: left;
}
.media-body p {
  color: gray;
}
.btn {
  background-color: #555a5e;
}
